<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Welcome To Gorilla Gym</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </div>

    </div>
</nav>


<div class="container">

    <div>
        <form class="forms-sample" th:action="@{/api/GetCustomer}" th:object="${DateRange}" method="post">
            <div class="form-group"><label for="startDate">Start date : </label>
                <div class="col-10"><input class="form-control" type="date" value="2011-08-19T13:45:00" id="startDate"
                                           th:field="*{startDade}"/></div>
            </div>
            <div class="form-group"><label for="endDate">End date : </label>
                <div class="col-10"><input class="form-control" type="date" value="2011-08-19T13:45:00" id="endDate"
                                           th:field="*{endDate}"/></div>
            </div>
            <button type="submit" class="btn btn-success mr-2">Submit</button>
        </form>
    </div>
    <br>
    <div>
        <td><a href="" th:href="@{/api/addCustomer}" class="btn btn-primary">Add Customer</a></td>
    </div>
    <br>
    <br>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Price</th>
            <th>Date</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>

        </thead>
        <tbody>
        <tr th:each="temp : ${customers}">
            <td th:text="${temp.id}"/>
            <td th:text="${temp.firstName}"/>
            <td th:text="${temp.lastName}"/>
            <td th:text="${temp.email}"/>
            <td th:text="${temp.price}"/>
            <td th:text="${temp.date}"/>


            <td><a href="" th:href="@{/api/update/{id}(id=${temp.id})}" class="btn btn-warning">update</a></td>
            <td><a href="" th:href="@{/api/delete/{id}(id=${temp.id})}" class="btn btn-danger">Delete</a></td>
        </tr>


        </tbody>

    </table>

</div>
</body>
</html>










